.white-section {
  background: #fff;
  color: #000;
  padding-block: 80px;
}
.title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
}
.gray-section {
  color: #fff;
  padding-block: 80px;
  background: #000;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}
.no-padding {
  padding: 0;
}
.padding {
  padding-block: 80px;
}
.banner-text-wrapper-general {
  position: relative;
  img {
    height: 80vh;
    object-fit: cover;
    width: 100%;
    /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 55%, transparent);
  }
}
.full-width-image {
  width: 100%;
  margin-block: 60px;
}
.banner-content-wrapper {
  position: absolute;
  top: 70%;
  transform: translateY(-70%);
  z-index: 1;
  width: 100%;
  h1 {
    color: #fff;
    font-size: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    @media (max-width: 1024px) {
      font-size: 30px;
    }
  }
  p {
    max-width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;
  }
} 
.random-image {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.capabilities-banner-wrapper {
  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}
.capabilities-banner-content {
  padding-block: 60px;
}
.grey-section-content + .grey-section-content {
  margin-top: 25px;
}
.grey-section-content .title {
  margin-bottom: 20px;
}
.small-img {
  display: block;
  width: 80%;
}
.small-img-wrap {
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
  object-fit: cover;
}
.title-padding {
  padding-left: 40px; 
  max-width: 500px;
}
@media (max-width: 768px) {
  .random-images-container {
    height: 300px;
  } 
  .capabilities-wrapper {
    margin-top: -1px;
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: 28px;
  }
  .capabilities-wrapper {
    h1 {
      font-size: 28px;
    }
  }
  .gray-section {
    .col-sm-6  {
      display: block;
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  .white-section , .gray-section {
    .col-sm-6 {
      margin-block: 40px;
    }
  }
}
.managament {
  .title-padding {
    max-width: 100%;
    text-align: right;
    padding-right: 40px;
    padding-left: 60px;
   }
}