.form-wrapper {
  background: #0f0f0f;
  padding-block: 40px; 
  width: 100%;
  legend {
    text-align: center;
  }
  .form-item-wrapper {
    width: 60%;
    margin: 0 auto;
    label {
      display: none;
    }
    .form-input {
      width: 100%;
      border-radius: 0;
      height: 50px;
      border: 1px solid #848585;
      background-color: #0f0f0f; 
      color: #fff;
    }
    .form-textarea {
      height: 100px;
      width: 100%;
      border: 1px solid #848585;
      background-color: #0f0f0f;
      resize: none; 
      color: #fff;
      padding-left: 10px; 
    }
  }
}
.form-item-wrapper + .form-item-wrapper {
  margin-top: 20px;
}