.form-wrapper {
  background: #0f0f0f;
  padding-block: 60px; 
  .form-item-wrapper {
    width: 60%;
    margin: 0 auto;
    position: relative;
    label {
      display: none;
    }
    .form-input {
      border-radius: 0;
      height: 50px;
      border: 1px solid #848585 ;
      background-color: #0f0f0f; 
    }
    .submit-mail {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      height: 50px;
      background-color: transparent;
      color: #ed2029;
      border-radius: 0;
      padding-inline: 60px; 
      border: 1px solid #ed2029;
      box-sizing: border-box;
      @media (max-width: 768px) {
        position: static;
        text-align: center;
        margin-block: 20px;
        width: 100%;
      }
      @media (max-width: 1024px) {
        position: static;
        text-align: center;
        margin-block: 20px;
        width: 100%;
      }
    }
    .submit-mail:hover {
      color: #fff;
      background: #ed2029;
    }
  }
}