.home-slider-wrapper {
  height: 95vh;
  h1 {
    position: absolute;
    top: 28%;
    transform: translateY(-28%);
    color: white;
    font-size: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    @media(max-width: 767px) {
      top: 35%;
      transform: translateY(-35);
      font-size: 28px;
      max-width: 90%;
    }
   }
   p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    right: 0;
    left: 0;
    font-size: 26px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    @media(max-width: 767px) {
      font-size: 18px;
      width: 100%;
      max-width: 90%;
    }
   }
  .slide {
    position: relative;
  }
  .slide::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
  }
  .slider-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
.home-slider {
  .slick-arrow , .slick-prev {
    z-index: 1;
  }
  .slick-prev {
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
		background: url('../images/gallery-arrow-desktop-left.svg') no-repeat center center / 40px;
		width: 70px;
		height: 100px;
		text-indent: -9999px;
    cursor: pointer;
    border: none;
    background-size: contain; 
  }
  .slick-next {
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
		background: url('../images/gallery-arrow-desktop-right.svg') no-repeat center center / 40px;
		width: 70px;
		height: 100px;
		text-indent: -9999px;
    cursor: pointer;
    border: none;
    background-size: contain; 
  }
  .slick-dots {
    position: absolute;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    padding: 0;
    text-align: center;
    li {
      display: inline;
      margin-left: 5px;
      margin-right: 5px;
      &.slick-active {
        button {
          position: relative;
          height: 2px;
          width: 60px;
          background-color: #ededed;
        }
        button::before {
          content: '';
          display: inline-block;
          position: absolute;
          height: 2px;
          width: 60px;
          bottom: -2px;
          right: 0;
          left: 0;
          background-color: #fff;
          animation: slider-animation 5s;
        }
      }
    }
    button {
      cursor: pointer;
      outline: none;
      color: #fff;
      padding: 0;
      font-size: 0px;
      background-color: transparent;
      border: none;
      height: 2px;
      position: relative;
      height: 2px;
      width: 60px;
      border-bottom: 2px solid gray;
      &:focus {
        &:active {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}
@keyframes slider-animation {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}

@media(max-width: 767px) {
  @keyframes slider-animation {
    from {
      width: 0;
    }
    to {
      width: 40px;
    }
  }
}
@media (max-width: 1024px) {
  .slick-dots {
    display: none !important;
  }
  .slick-next , .slick-prev {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .slick-dots {
    display: none !important;
  }
  .home-slider .slick-next , .slick-prev {
    display: none !important;
  }
}
.random-images-container {
  .slick-dots {
    position: absolute;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    padding: 0;
    text-align: center;
    li {
      display: inline;
      margin-left: 5px;
      margin-right: 5px;
      &.slick-active {
        button {
          position: relative;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background: #ED2029;
        }
      }
    }
    button {
      cursor: pointer;
      outline: none;
      color: #fff;
      padding: 0;
      font-size: 0px;
      background-color: transparent;
      border: none;
      position: relative;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #ededed;
      &:focus {
        &:active {
          border: 1px solid #ED2029;
          background: #ededed;
        }
      }
    }
  }
}