.our-people-wrapper {
  background-color: #fff;
  p {
    color: #000;
  }
}
.people-item {
  display: inline-block;
  width: 160px;
  height: 160px;
  background: #ededed;
  border-radius: 50%;
  color: #000;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  p {
    margin: 0;
    color: #000;
  }
}
.people-item:hover {
  p {
    visibility: hidden;
  }
  span {
    visibility: hidden;
  }
}
.people-item:active {
  text-decoration: none;
  color: #000;
}
.qoute {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-style: italic;
}
.company-info {
  p {
    margin-block: 5px;
  }
}
.people-item:hover:before {
  position: absolute;
  content: "Send mail";
  /* left: 50%; */
  color: #fff;
  top: 50%;
  bottom: 0;
  z-index: 1;
  line-height: 160px;
  display: inline-block;
  border-radius: 50%;
  width: 100%;
  max-width: 160px;
  height: 160px;
  background-color: rgba(255,0,0,0.7);
  animation: linkHover 1s forwards, opacity 3s forwards ;
}
.people-item:hover:after {
  overflow: hidden;
  visibility: hidden;
}
@keyframes opacity {
  0% { opacity:0
}
  to{opacity:1}}
@keyframes linkHover {
  0% { width: 0;
      height: 0;
      opacity: 0;
      left: 50%;
      top: 35%;
    }
  to {
    width: 100%;
    opacity: 1;
    height: 160px;
    top: 0;
    left: 0;
  }
}
.people-row {
  padding-block: 40px; 
  box-sizing: border-box;
}
.people-contact-wrapper {
  padding-block: 40px;
}
.people-item-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .description {
    font-size: 12px;
  }
}
.people-contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.people-content {
  width: 100%;
  span {
    display: block;
  }
  a {
    display: block;
  }
}
.people-contact-wrapper {
  background: #fff;
  color: #000;
}
.people-small-row {
  align-items: flex-start;
  justify-content: left;
}