.banner-text-wrapper {
  position: relative;
  img {
    height: 80vh;
    object-fit: cover;
    width: 100%;
    /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 55%, transparent);
  }
  h1 {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 60px;
    z-index: 1;
    width: 100%;
    max-width: 900px;
    text-align: center;
    font-weight: 400;
  }
  p {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 24px;
    z-index: 1;
    max-width: 700px;
    width: 100%;
    text-align: center;
    @media (max-width: 1024px) {
      max-width: 90%;
      font-size: 16px;
    }
  }
}
.text-section  {
  background: #000;
  color: #fff;
  padding-block: 80px;
  text-align: center;
  width: 100%;
  p {
    max-width: 80%;
    margin: 0 auto;
    font-size: 20px;
  }
}
.card-text-wrapper {
  background: #000;
  color: #fff;
  img {
    width: 100%;
    object-fit: cover;
  }
  .card-text-content {
    padding: 40px;
    h2 {
      font-size: 26px;
      margin-bottom: 20px;
    }
    p {
      overflow: hidden;
      color: #ccc;
    }
  }
}
.card-text-container + .card-text-container {
  border-left: 1px solid #1a1a1a;
}
.text-bg-wrapper {
  position: relative;
  img {
    width: 100%;
  }
  .bg-section-title {
    color: #000;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    top: 20%;
    left: 50%;
    transform:translateX(-50%);
  }
  .bg-section-description {
    color: #fff;
    /* background: rgba(0,0,0,0.5); */
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    position: absolute;
    bottom: 0;
    height: 70%;
    padding-block: 40px;
    p {
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}
.gray-content {
  background-color: #101010;
  box-shadow: -1000px 0 0 #101010, 1000px 0 0 #101010;
  padding-block: 80px;
  text-align: center;
}
@media (max-width: 1024px) {
  .banner-text-wrapper h1 {
    font-size: 30px;
  }
  .text-section p {
    max-width: 90%;
    font-size: 16px;
  }
  .text-bg-wrapper .bg-section-description {
    position: static;
  }
}