.projects {
  img {
    width: 100%;
  }
  .white-section {
    height: 100%;
  }
}
.bold {
  font-weight: bold;
}
.download-link {
  display: inline-block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.download-link:before {
  content: '';
  display: inline-block;
  background-size: contain; 
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
  background-image: url('/images/download.png');
  background-repeat: no-repeat; 
}

.title-2 {
  margin-block: 40px;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
.link-2 {
  margin-block: 20px;
  display: block;
  text-align: right;
}
.case-right {
  .not-desktop {
    display: none;
  }
  @media (max-width: 1024px) {
    .not-desktop {
      display: block;
    }
    .desktop-only {
      display: none;
    }
  }
  img {
    height: 400px;
    object-fit: cover;
  }
  .title {
    margin-left: 80px;
    @media (max-width: 1024px) {
      margin-left: 40px;
    }
  }
  .content {
    max-width: 500px;
    margin-left: 80px;
    @media (max-width: 1024px) {
      margin-left: 40px;
      max-width: 80%;
    }
  }
  .download-link {
    margin-left: 80px;
    @media (max-width: 1024px) {
      margin-left: 40px;
    }
  }
}
.case-content {
  margin-block: 10vh;
}