.work-tabs-wrapper {
  background: #fff;
  .work-tabs {
    margin-block: 80px;
  }
  p {
    color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 768px) {
      position: static;
      display: block;
      margin-block: 20px;
      transform: none;
    }
  }
  video {
    width: 100%;
    /* height: 300px;
    object-fit: contain; */
  }
}


/* Work 2 Styling */

.work-2-tabs-wrapper {
  background: #fff;
  .work-tabs {
    margin-block: 80px;
  }
  p {
    margin-block: 40px;
    color: #000;
  }
  video {
    width: 100%;
    /* height: 300px;
    object-fit: contain; */
  }
}
@media (max-width: 1024px) { 
  .tab-content iframe {
    width: 100%;
    height: auto;
  }
}