.row.card-grid
  .col-sm-3.nopadding
    .card-wrapper
      .card-wrapper-content
        img(src="images/vertical1.jpg")
        p.to-uppercase Philosophy
  .col-sm-3.nopadding
    .card-wrapper
      .card-wrapper-content
        img(src="images/vertical4.jpg")
        p.to-uppercase Capabilities
  .col-sm-3.nopadding
    .card-wrapper
      .card-wrapper-content
        img(src="images/vertical3.jpg")
        p.to-uppercase Work
  .col-sm-3.nopadding
    .card-wrapper
      .card-wrapper-content
        img(src="images/vertical2.jpg")
        p.to-uppercase Projects
  
        