.row.card-grid 
  .col.nopadding
    a(class="card-wrapper" href="/philosophy.html")
      .card-wrapper-content
        img(src="images/vertical1.jpg")
        p.to-uppercase Philosophy
  .col.nopadding
    a(class="card-wrapper" href="/capabilities.html")
      .card-wrapper-content
        img(src="images/vertical4.jpg")
        p.to-uppercase Capabilities
  .col.nopadding
    a(class="card-wrapper" href="/work-2.html")
      .card-wrapper-content
        img(src="images/vertical3.jpg")
        p.to-uppercase Work
  .col.nopadding
    a(class="card-wrapper" href="/projects.html")
      .card-wrapper-content
        img(src="images/vertical2.jpg")
        p.to-uppercase Projects
  .col.nopadding
    a(class="card-wrapper" href="/people.html")
      .card-wrapper-content
        img(src="images/vertical5.jpg")
        p.to-uppercase People
