.explore-wrapper
  .explore-title
    p.to-uppercase Investing in People
  p.explore-description This is why we exist, why we put 110% effort into every day. This investment reaches farther than our team, it reaches our trade partners, our clients, the municipalities we work in, and all those we contact by wanting each individual to be better for having dealt with the company.
  .explore-btn-wrapper
    a(href="/work-2.html").call-to-action.to-uppercase explore