.explore-wrapper
  .explore-title
    p.to-uppercase Explore Title
  p.explore-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
  .explore-btn-wrapper
    a.call-to-action.to-uppercase explore