<!-- Footer -->
<footer class="page-footer font-small container">
  <ul class="row list--inline footer-details">
    <li class="col footer-phone">
      <a href="tel:+2536047200">(253) 604-7200</a></li>
    <li class="col footer-logo">
      <a class="footer-logo-wrapper align-center" href="/">
        <img src="/images/logo-rpd.png" width="70" height="70" alt="">
      </a>
    </li>
    <li class="col footer-address">
      p Rickabaugh Pentecost Development,LLC
      p 108 W Stewart ,Puyallup, WA 98371
    </li>
  </ul>

  <div class="footer-copyright text-center py-3">© COPYRIGHT – 2018 RPD - Spanaway, WA – ALL RIGHTS RESERVED
  </div>
</footer>