.form-wrapper
  form
    .form-item-wrapper
      label(for="name") Name:
      input.form-input(type="name" class="form-control" id="name" placeholder="Name")
    .form-item-wrapper
      label(for="email") Email address:
      input.form-input(type="email" class="form-control" id="email" placeholder="E-mail")
    .form-item-wrapper
      label(for="message") Message
      textarea.form-textarea(type="message" id="message" placeholder="Message")
    button.submit-mail(type="submit" class="btn btn-default") Submit
