<header class="header-wrapper container">
  <nav class="navbar navbar-expand-lg fixed-top">
    <ul class="navbar-nav hidden-sm-down">
      <li>
        <a class="navbar-brand" href="#">
          <img src="/images/logo-rpd.png" width="50" height="50" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/philosophy.html">Philosophy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Capability</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">People</a>
      </li>
    </ul>
    <button class="navbar-toggler d-block d-sm-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Philisophy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Capability</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">People</a>
        </li>
      </ul>
    </div>
  </nav>
</header>