<header class="header-wrapper container">
  <nav class="navbar navbar-expand-lg fixed-top">
    <ul class="navbar-nav hidden-sm-down">
      <li>
        <a class="navbar-brand" href="/">
          <img src="/images/logo-rpd.png" width="60" height="60" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/philosophy.html">Philosophy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/capabilities.html">Capabilities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/work.html">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects.html">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/people.html">People</a>
      </li>
    </ul>
    <button class="navbar-toggler d-block d-sm-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/philosophy.html">Philisophy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/capabilities.html">Capabilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/work.html">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/people.html">People</a>
        </li>
      </ul>
    </div>
  </nav>
</header>