.home-slider-wrapper
  ul.list.home-slider
    li.slide
      img.slider-image(src="images/capabilities1.jpg")
      h1.to-uppercase Our Philosophy
      p The name "RPD" will be synonymous with quality workmanship, quality citizenship and the leader in the industry.
    li.slide
      img.slider-image(src="images/capabilities2.jpg")
      h1.to-uppercase Investing in People
      p We will lead by serving, sacrificing and mentoring both in-house and in-home within our community.
    li.slide
      img.slider-image(src="images/capabilities2.jpg")
      h1.to-uppercase The Paradigm
      p With great attitudes come great teams with a passion for integrity dedicated to services.
