.home-slider-wrapper
  ul.list.home-slider
    li.slide
      img.slider-image(src="images/home-1.jpg")
      h1.to-uppercase RP Development
      p Safety, Integrity, Teamwork and dedication, to ourselves and our customers. 
    li.slide
      img.slider-image(src="images/capabilities2.jpg")
      h1.to-uppercase Investing in People
      p We lead by by serving, sacrificing, and mentoring both in-house and in-home with in our community and our team. 
    li.slide
      img.slider-image(src="images/home-2.jpg")
      h1.to-uppercase The Paradigm
      p With great attitudes come great teams with a passion for integrity dedicated to services. 
    li.slide
      video.slider-image#myVideo
        source(type="video/mp4" src="images/Homepage-small.mp4" loop)
      //- <iframe id="slider-video"class="embed-player slide-media slider-image slider-video" width="100%" height="100vh" src="https://www.youtube.com/embed/tdwbYGe8pv8?enablejsapi=1&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&playlist=tdwbYGe8pv8&start=102&controls=0" frameborder="0" allowfullscreen></iframe> 
      //- h1.to-uppercase The Paradigm
      //- p With great attitudes come great teams with a passion for integrity dedicated to services.