.banner-text-wrapper-general
  .banner-content-wrapper
    h1.to-uppercase People
    p "A team of like-minded individuals who thrive on hard work, collaboration and perfection. We understand what trust means."
  img(src="/images/capabilities4.jpg")
.our-people-wrapper
  .container
    .people-row
      .row
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Ben Pentecost
              span.description Principal
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Jon Rickabaugh
              span.description General Manage
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Todd Rickabaugh
              span.description Chief Estimator
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Garrett Bjornstad
              span.description Estimator
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Adam Fredericks
              span.description Senior Project Manager
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Kelly Ghormley
              span.description Project Manager
    .people-row
      .row
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Kaylor Hasbargen
              span.description Project Engineer
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Lee Walch
              span.description Project Superintendent
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name James Weichsler
              span.description Project Superintendent
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Mike Peckman
              span.description Project Superintendent
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Michael Conlan
              span.description Chief Financial Officer
        .col
          a(href="mailto:").people-item
            .people-item-content
              p.name Amy Walch
              span.description HR/AR/Payroll