.white-section
  .container
    h1.title-2 About Rickabaugh Pentecost Development
    p.content Founded in 2002, Rickabaugh Pentecost Development, LLC (RPD) is a leading Heavy Civil Contractor headquartered in downtown Puyallup. We serve Greater Puget Sound acting as a Site Work General Contractor. We are a team of like-minded individuals who thrive on hard work, collaboration, and perfection. We are a team that understands what trust means, both with those we work with and those we work for.
    //- ul.projects-slider
    //-   li
    //-     img(src="/images/capabilities5.jpg")
    //-   li
    //-     img(src="/images/capabilities4.jpg")
    //-   li
    //-     img(src="/images/capabilities3.jpg")
