.philo-banner
  .banner-text-wrapper
    h1.to-uppercase Rickabaugh Pentecost Development
    img(src="/images/banner.jpg")
    p The name “RPD" will be synonymous with quality workmanship, quality citizenship and the leader in the industry.
  .container
    .row
      .col-12.text-section
        p We are a team of like-minded individuals who thrive on hard work, collaboration, and perfection. We are a team that understands what trust means. Both with those we work with and those we work for.
  .row
    .col-sm-6.nopadding.card-text-container
      .card-text-wrapper
        img(src="/images/home-1.jpg")
        .card-text-content
          h2.card-text-title.to-uppercase Commitment to Safety
          p Safety is a conscience, non-negotiable commitment of RPD. This commitment is made between the employees, the subcontractors and vendors. As a company, RPD and its teammembers follow strict guidelines to ensure all disciplines of work are in accordance with federal, state and local jurisdictions. RPD instills accountability within its ranks to achieve its safety goals.Because of its emphasis on safety, RPD is proud of the following: 2007, 2008, 2009, 2010, 2011 L&I Experience Factor of .6000 Non-management Safety Steering Team 100% comprehensive drug testing program.
    .col-sm-6.nopadding.card-text-container
      .card-text-wrapper
        img(src="/images/home-2.jpg")
        .card-text-content
          h2.card-text-title.to-uppercase The Paradigm for Quality and Excellence in Construction and Development
          p With great attitudes come great teams with a passion for integrity dedication to services. We will lead by serving, sacraficing and mentoring both in-house within our community. We will be renowned for striving for perfection in every aspect of our daiy operations, while having positive impacts on the lives we touch. The name "RPD" will be synonymous with quality workmanship, quality citizenship and the leader in the industry.
    .container
      .row
        .col-12.nopadding.text-bg-wrapper
          img(src="/images/ourphilosophy2.jpg")
          .gray-content.gray-content-philo
            h2.phil-title.to-uppercase A RECIPE FOR SUCCESS
            p This seemingly simple recipe for success is just that, simple. The recipe is our core purpose and that is to Invest In People. That purpose is why we exist, why we put 110% effort into every day. This investment reaches farther than our team. It reaches our trade partners, our clients, the municipalities we work in, and all those we contact by wanting each individual to be better for having dealt with the company.This purpose is derived from a set of non-negotiable core values. These values do not change with clients, market conditions, or work load: - Leading by Serving  - Building Strong Family and Community - Teaching, Mentoring, and Training - Great attitudes - Great Teams - Quality Through Excellence.
          //- .bg-section-description
          //-   p This seemingly simple recipe for success is just that, simple. The recipe is our core purpose and that is to Invest In People. That purpose is why we exist, why we put 110% effort into every day. This investment reaches farther than our team. It reaches our trade partners, our clients, the municipalities we work in, and all those we contact by wanting each individual to be better for having dealt with the company.This purpose is derived from a set of non-negotiable core values. These values do not change with clients, market conditions, or work load: - Leading by Serving  - Building Strong Family and Community - Teaching, Mentoring, and Training - Great attitudes - Great Teams - Quality Through Excellence
        //- .row
      //-   .col-sm-6.nopadding.card-text-container
      //-     .card-text-wrapper
      //-       img(src="/images/slider3.jpg")
      //-       .card-text-content
      //-         h2.card-text-title.to-uppercase Philosophy
      //-         p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      //-   .col-sm-6.nopadding.card-text-container
      //-     .card-text-wrapper
      //-       img(src="/images/slider4.jpg")
      //-       .card-text-content
      //-         h2.card-text-title.to-uppercase Philosophy
      //-         p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.