.banner-text-wrapper-general
    .banner-content-wrapper
      h1.to-uppercase Projects
      p Since our formation, our focus has been creating partnerships
    img(src="/images/capabilities5.jpg")
section.projects-2
  .white-section
    .container
      h1.title-2 Case 1
      p.content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      a.download-link.link-2(href="http://www.orimi.com/pdf-test.pdf" download) Download PDF
      ul.projects-slider
        li
          img(src="/images/capabilities5.jpg")
        li
          img(src="/images/capabilities4.jpg")
        li
          img(src="/images/capabilities3.jpg")
  .white-section
    .container
      h1.title-2 Case 2
      p.content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      a.download-link.link-2(href="http://www.orimi.com/pdf-test.pdf" download) Download PDF
      ul.projects-slider
        li
          img(src="/images/capabilities5.jpg")
        li
          img(src="/images/capabilities4.jpg")
        li
          img(src="/images/capabilities3.jpg")
