.banner-text-wrapper-general
    .banner-content-wrapper
      h1.to-uppercase Projects
      p Since our formation, our focus has been creating partnerships
    img(src="/images/capabilities5.jpg")
section.projects
  .white-section
    .row.image-overflow-wrapper
      .col-sm-6.nopadding.case-right
        img.not-desktop(src="/images/capabilities5.jpg")
        .case-content
          h1.title Case 1
          p.content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          a.download-link(href="http://www.orimi.com/pdf-test.pdf" download) Download PDF
        img.desktop-only(src="/images/capabilities5.jpg")
      .col-sm-6.nopadding.case-right
        img(src="/images/capabilities5.jpg")
        .case-content
          h1.title Case 1
          p.content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          a.download-link(href="http://www.orimi.com/pdf-test.pdf" download) Download PDF
//- section.projects
//-   .white-section
//-     .row.image-overflow-wrapper
//-       .col-sm-6.nopadding.image-overflow-left
//-       .col-sm-6.nopadding.case-left
       
        
