.banner-text-wrapper-general
    .banner-content-wrapper
      h1.to-uppercase Projects
      p Since our formation, our focus has been creating partnerships
    img(src="/images/Projects_banner.jpg")
section.projects
  .row
    .col.project-image-item.no-padding
      <a class="light-box-item" data-fancybox="gallery" href="/images/box-1.jpg"><img src="/images/box-1.jpg"></a>
    .col.project-image-item.no-padding
      <a class="light-box-item" data-fancybox="gallery" href="/images/box-2.jpg"><img src="/images/box-2.jpg"></a>
    .col.project-image-item.no-padding
      <a class="light-box-item" data-fancybox="gallery" href="/images/box-3.jpg"><img src="/images/box-3.jpg"></a>
    .col.project-image-item.no-padding
      <a class="light-box-item" data-fancybox="gallery" href="/images/box-4.jpg"><img src="/images/box-4.jpg"></a>
  .row
    .col.project-image-item.no-padding
      <a class="light-box-item" data-fancybox="gallery" href="/images/box-5.jpg"><img src="/images/box-5.jpg"></a>
    .col.project-image-item.no-padding
      <a class="light-box-item" data-fancybox="gallery" href="/images/box-6.jpg"><img src="/images/box-6.jpg"></a>
    .col.project-image-item.no-padding
      <a class="light-box-item" data-fancybox="gallery" href="/images/box-7.jpg"><img src="/images/box-7.jpg"></a>
    .col.project-image-item.no-padding
      <a class="light-box-item" data-fancybox="gallery" href="/images/box-7.jpg"><img src="/images/box-7.jpg"></a>