.banner-text-wrapper-general
  .banner-content-wrapper
    h1.to-uppercase Work
    p Since our formation, our focus has been creating partnerships
  img(src="/images/capabilities1.jpg")
.work-tabs-wrapper.clearfix
  .container.work-tabs
    +tabs(['Tab1', 'Tab 2' ,'Tab3'])
      .tab-content.clearfix(role="tabpanel")
        .row
          .col-sm-6
            video(playsinline controls)
              source(type="video/mp4" src="images/trimmed-azadir-video-small.mp4")
              source(type="video/mp4" src="images/trimmed-azadir-video-small.webm")
          .col-sm-6
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .tab-content.clearfix(role="tabpanel")
        .row
          .col-sm-6
            video(playsinline controls)
              source(type="video/mp4" src="images/trimmed-azadir-video-small.mp4")
              source(type="video/mp4" src="images/trimmed-azadir-video-small.webm")
          .col-sm-6
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .tab-content.clearfix(role="tabpanel")
       .row
          .col-sm-6
            video(playsinline controls)
              source(type="video/mp4" src="images/trimmed-azadir-video-small.mp4")
              source(type="video/mp4" src="images/trimmed-azadir-video-small.webm")
          .col-sm-6
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.