.banner-text-wrapper-general
  .banner-content-wrapper
    h1.to-uppercase Work
    p Since our formation, our focus has been creating partnerships
  img(src="/images/capabilities1.jpg")
.work-2-tabs-wrapper.clearfix
  .container.work-tabs
    +tabs(['Interview with Mike', 'Interview with James' ,'Interview with Dalton'])
      .tab-content(role="tabpanel")
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/c1wii1J9qnY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .tab-content(role="tabpanel")
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/QfVTQfagj8M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .tab-content(role="tabpanel")
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/wyKQvpzk6OU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.