extends includes/_base-layout
block config
  - var page = "index"
block content
  include includes/_index
  include includes/_cards-5
  include includes/_explore
  //- include includes/_cards-5
  //- include includes/_banner
  include includes/_form
